.login-form {
  z-index: 2;
  max-width: 520px;
  position: relative;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin: 0px auto;
  padding: 50px 70px;
  border-radius: 10px;
  background-color:  black;
  background: linear-gradient(to top right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  border-left: 2px solid #c7bfc7;
  border-top: 2px solid #c7bfc7;
}
.login-page {
  background-color: black;
  height: 100%;
  padding: 100px 0px;
  background: linear-gradient(to top right, #006a4e, #4fffb0);
  /* background: linear-gradient(to top right, #415efa, #e2497f); */
  /* background:linear-gradient(to top right, #000000, #262f71); */
  /* background-image: linear-gradient(80deg,#e9e0e1 5%,#d1e9f3 49%,#ebeafa 60%,#e9e0e1 95%); */
}
.circle-one {
  left: 25%;
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: #0f72a1;
  top: 40px;
  border-radius: 10px;
  background: linear-gradient(to top right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
}
.circle-two {
  right: 26%;
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: #ff194a;
    bottom: 30px;
    /* margin-bottom: 0px; */
    border-radius: 10px;
    background: linear-gradient(to top right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
}



.login-form h6 {font-size: 25px;margin-bottom: 0px;color:  rgb(255, 255, 255);font-weight: 600;}

.login-form p {
    font-size: 14px;
    color:  black;
    font-weight: 300;
}

.login-form .form-group label {
    color:  black;
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 14px;
}
.login-form form {
    padding-top: 25px;
}
.login-form button {
  background-color: #ff194a !important;
  border: 1px solid #ff194a !important;
  width: 100% !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
  border-radius: 5px !important;
  margin-top: 20px !important;
}
.login-form button:focus{
  outline: none;
  box-shadow: none;
}

.form-control {
  background-color: transparent;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
}
.login-form form h6 {
  font-size: 15px;
  font-weight: 500;
  margin-top: 35px;
  text-align: center;
}

.login-form form h6 a {
  color: #f10638;
  font-weight: 500;
}
.login-form form input::placeholder {
  color: #ded8d8 !important;
  font-weight: 300;
}

.forget-pwd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.forget-pwd h6 {
  margin-top: 0px !important;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 13px !important;
}
.forget-pwd h6 a{
  color: rgb(0, 0, 0) !important;
}
.circle-three {
  right: 24%;
  height: 80px;
  width: 80px;
  background-color: #0f72a1;
  bottom: 0;
  border-radius: 50%;
  position: absolute;
  background: linear-gradient(to top right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  
}
.circle-four {
  left: 22%;
  position: absolute;
  height: 80px;
  width: 80px;
  background-color: #b88dd1;
  top: 12%;
  background: linear-gradient(to top right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  border-radius: 50%;
}

