body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container-fluid{
  max-width: 1280px !important;
  width: 100%;
}
button.btn.btn-primary {
  background-color: #024c39;
  border: 1px solid #024c39;
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 13px;
}
